@{
    ViewBag.Title = "Home Page";
}




<h2>@ViewBag.Title.</h2>
<h3></h3>



<div class="jumbotron">
    <h1>@ViewBag.Message</h1>
    
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2</h2>
        <p>
            
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Col 2</h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Col 3</h2>
        <p>text 1</p>
        <p>text 2</p>
    </div>
</div>