@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>[Message from a View] <br />
    This is a project based on existing business. <br />
    This was made using .NET MVC5. 
    
    </p>
